.logout {
  position: absolute;
  top: 0;
  right: 5rem;
  cursor: pointer;
  background: rgb(87, 87, 216);
  border-radius: 8px;
  margin: 1rem;
  color: white;
  font-weight: 555;
  width: 8rem;
  font-size: 1.2rem;
  padding: 0.8rem 0;
  border-style: none;
  border: 0.5px solid rgb(209, 207, 207);
  z-index: 35;
}
